<p>product-detail works!</p>
<a routerLink="/products" class="back-link">&larr; Volver a la lista</a>

@if (product()) {
<div class="product-detail">
  <div class="image-container">
    <img [src]="product()?.image" [alt]="product()?.title" />
  </div>
  <div class="info-container">
    <h1>{{ product()?.title }}</h1>
    <p class="category">{{ product()?.category }}</p>
    <p class="price">{{ product()?.price | currency : 'USD' }}</p>
    <p class="description">{{ product()?.description }}</p>
    <p class="rating">
      Rating: {{ product()?.rating?.rate }}/5
      <span>({{ product()?.rating?.count }} votos)</span>
    </p>
    <div class="review-section">
      <h3>Deja tu reseña</h3>
      <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()" novalidate>
        <div class="form-group">
          <label for="comment">Comentario:</label>
          <textarea
            id="comment"
            formControlName="comment"
            rows="4"
            placeholder="Escribe al menos 10 caracteres..."
            [class.invalid-field]="commentControl?.invalid && commentControl?.touched"
          ></textarea>

          @if (commentControl?.invalid && (commentControl?.dirty || commentControl?.touched)) {
          <div class="error-messages">
            @if (commentControl?.errors?.['required']) {
            <p>El comentario es obligatorio.</p>
            } @if (commentControl?.errors?.['minlength']) {
            <p>
              El comentario debe tener al menos
              {{ commentControl?.errors?.['minlength'].requiredLength }} caracteres.
            </p>
            }
          </div>
          }
        </div>

        <button type="submit" [disabled]="reviewForm.invalid">Enviar Reseña</button>
      </form>
    </div>
  </div>
</div>
} @else {
<p class="loading-message">Cargando detalles del producto o producto no encontrado...</p>
}
